In [30]:
# Importing Libraries
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings("ignore")

In [31]:
# Loading Dataset
#Defining File Path
data_path = "../data/shop.csv"

# Loading dataset
df = pd.read_csv(data_path)

# Showing first lows
df.head()

,Campaign name,Age,Gender,Day,Delivery status,Delivery level,Ad set name,Attribution setting,Result Type,Results,Reach,Impressions,Cost per result,Quality ranking,Engagement rate ranking,Conversion rate ranking,Amount spent (USD),Clicks (all),Reporting starts,Reporting ends
0,31 December Engagement campaign,35-44,female,2024-12-31,completed,campaign,NaN,7-day click or 1-day view,Messaging conversations started,6.0,423,447,0.066667,-,-,-,0.40,6,2024-12-31,2024-12-31
1,31 December Engagement campaign,25-34,male,2024-12-31,completed,campaign,NaN,7-day click or 1-day view,Messaging conversations started,2.0,685,715,0.245000,-,-,-,0.49,13,2024-12-31,2024-12-31
2,31 December Engagement campaign,45-54,male,2024-12-31,completed,campaign,NaN,7-day click or 1-day view,NaN,NaN,57,72,NaN,-,-,-,0.05,0,2024-12-31,2024-12-31
3,31 December Engagement campaign,55-64,male,2024-12-31,completed,campaign,NaN,7-day click or 1-day view,NaN,NaN,18,22,NaN,-,-,-,0.03,0,2024-12-31,2024-12-31
4,31 December Engagement campaign,45-54,unknown,2024-12-31,completed,campaign,NaN,7-day click or 1-day view,NaN,NaN,1,1,NaN,-,-,-,0.00,0,2024-12-31,2024-12-31

In [32]:
# Previewing all column names
df.columns

Index(['Campaign name', 'Age', 'Gender', 'Day', 'Delivery status',
       'Delivery level', 'Ad set name', 'Attribution setting', 'Result Type',
       'Results', 'Reach', 'Impressions', 'Cost per result', 'Quality ranking',
       'Engagement rate ranking', 'Conversion rate ranking',
       'Amount spent (USD)', 'Clicks (all)', 'Reporting starts',
       'Reporting ends'],
      dtype='object')

In [33]:
# Standarding Column names
df.columns = [col.strip().replace(" ", "_").lower() for col in df.columns]

In [34]:
# Previweing again
df.columns

Index(['campaign_name', 'age', 'gender', 'day', 'delivery_status',
       'delivery_level', 'ad_set_name', 'attribution_setting', 'result_type',
       'results', 'reach', 'impressions', 'cost_per_result', 'quality_ranking',
       'engagement_rate_ranking', 'conversion_rate_ranking',
       'amount_spent_(usd)', 'clicks_(all)', 'reporting_starts',
       'reporting_ends'],
      dtype='object')

In [35]:
# Droping columns we wont use in model
cols_to_drop = [
    'campaign_name',
    'ad_set_name',
    'delivery_status',
    'delivery_level',
    'attribution_setting',
    'quality_ranking',
    'engagement_rate_ranking',
    'conversion_rate_ranking',
    'reporting_starts',
    'reporting_ends'
]

df.drop(columns=cols_to_drop, inplace= True)
df.head()

,age,gender,day,result_type,results,reach,impressions,cost_per_result,amount_spent_(usd),clicks_(all)
0,35-44,female,2024-12-31,Messaging conversations started,6.0,423,447,0.066667,0.40,6
1,25-34,male,2024-12-31,Messaging conversations started,2.0,685,715,0.245000,0.49,13
2,45-54,male,2024-12-31,NaN,NaN,57,72,NaN,0.05,0
3,55-64,male,2024-12-31,NaN,NaN,18,22,NaN,0.03,0
4,45-54,unknown,2024-12-31,NaN,NaN,1,1,NaN,0.00,0

In [36]:
# Replace 0 impressions to avoid division by zero
df['impressions'] = df['impressions'].replace(0, np.nan)

# Create CTR column
df['ctr'] = (df['results'] / df['impressions']) * 100

# Drop rows with NaN CTR
df.dropna(subset=['ctr'], inplace=True)

# Reset index
df.reset_index(drop=True, inplace=True)

df[['results', 'impressions', 'ctr']].head()

   results  impressions       ctr
0      6.0        447.0  1.342282
1      2.0        715.0  0.279720
2      1.0         61.0  1.639344
3      1.0        168.0  0.595238
4      1.0        112.0  0.892857

In [38]:
# Save to processed folder
processed_path = "../data"
os.makedirs(processed_path, exist_ok=True)
df.to_csv(os.path.join(processed_path, "shop_clean.csv"), index=False)